*.snap
*.xlog

.rocks
build.luarocks
*.rock
CMakeFiles
CMakeCache.txt
cmake_install.cmake

!Makefile

httpgo/httpgo
httpgo/init.lua
httpgo/Makefile

microservice/Makefile

httpgo-crud/httpgo-crud.so
httpgo-crud/init.lua
httpgo-crud/Makefile

httpgo-auth/httpgo-auth.so
httpgo-auth/init.lua
httpgo-auth/Makefile

httpgo-monitoring/httpgo-monitoring.so
httpgo-monitoring/init.lua
httpgo-monitoring/Makefile

httpgo-lua/httpgo-lua.so
httpgo-lua/init.lua
httpgo-lua/Makefile
